__pycache__/
*.sqlite3
*.sqlite3.gz
.ipynb_checkpoints
.env
.venv-3.6.7
.idea/
tmp/*
!.gitkeep
.bundle
.kitchen
vendor/
cookbooks/
Gemfile.lock
Berksfile.lock
provision/data_bags/aws/credentials.json
MANIFEST
*.joblib
*.log
