__pycache__/
db.sqlite3
db.sqlite3.gz
.ipynb_checkpoints
.env
.venv-3.6.7
.idea/
node_modules/
tmp/*
log/*
!.gitkeep
.bundle
.kitchen
vendor/
cookbooks/
Gemfile.lock
Berksfile.lock
provision/data_bags/aws/credentials.json
MANIFEST
